/*____________________________________________________________________________________________*/
    /* STYLE POUR LA PAGE HOME (PAS DE SOLUTION POUR L'INSTANT)*/


.First{
  background-image: url(../image/HELP.PNG);
  height: 58vh;
  width: 100%;
  background-size: cover;
}
.Firstmsg{
  display: inline-block;
  text-align: center;
  font-family: copperplate;
  font-size: large;
  margin-top: 6%;
  margin-left: 44%;
}

.divClient{
  height: 660px;
  
}
.clientfoto1{
  display: inline-block;
  margin-left: -510px;
  width: 40%;
  height: 100%;
  background-size: cover;
  background-image: url(../image/terre.jpg);

}
.clientfoto2{
  float: right;
  margin-right: -510px;
  width: 40%;
  height: 100%;
  background-size:cover;
  background-position-x: -400px;
  background-image: url(../image/iii2.webp);
}

.clientfoto3{
  margin-left: -510px;
  float: left;
  width: 40%;
  height: 100%;
  background-position-x: -370px;
  background-size:cover;
  background-image: url(../image/iii.jpg);
}

.text1{

  margin-left: 15%;
  margin-right: 15%;
  margin-top: 5%;
}


@keyframes changecolor {
  0%   {color: black;}
  20%   {color: silver;}
  40%   {color: black;}
  60%   {color: silver;}
  80%   {color: black;}
  100%   {color: silver;}
}
.textclient1{
  height: 100%;
  width: 60%;
  float: right;
  text-align: center;
  margin-top: 17%;
  color: silver;
  background-color: black;
  animation: changecolor 10s infinite;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.textclient2{
  height: 100%;
  width: 60%;
  float: left;
  text-align: center;
  margin-top: 17%;
  color: silver;
  background-color: black;
  animation: changecolor 10s infinite;

}
.textclient3{
  height: 100%;
  width: 60%;
  float: right;
  text-align: center;
  margin-top: 17%;
  color: silver;
  background-color: black;
  animation: changecolor 10s infinite;


}





/*____________________________________________________________________________________________*/




.bismi{
  text-align: center;
  color: red;
  z-index: 10;
  font-family: garamond;

}
.divNavigation{
  position: sticky;
}


.introcontact{

    display: inline-block;
    color: red;
   
    width: 0;
    height: 0;
    
    border-right: 16px solid transparent;
    border-left: 16px solid transparent;
    
    border-top: 20px solid green;

}
.divBtn1:hover,
.divBtn1:focus,
.divBtn1:active {
  color: white;
  background-image: linear-gradient(to right,black,green);
}
.divBtn2:hover,
.divBtn2:focus,
.divBtn2:active {
  color: white ;
  background-image: linear-gradient(to right, green, black);
}
.divBtn1{
  background-image: linear-gradient(to right,green,black);
  display: inline-block;
  width: 16%;
  height: 32px;
  border-radius: 15px;
  margin-right: 2%;
  color: black;
  font-family:'Times New Roman', Times, serif;
  font-size: x-large;
  /*
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  */
}
.divBtn2{
  background-image: linear-gradient(to right,black,green);
  display: inline-block;
  width: 16%;
  height: 32px;
  border-radius: 15px;
  margin-left: 2%;
  color: black;
  font-family:'Times New Roman', Times, serif;
  font-size: x-large;
  /*
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  */}

.spane{
  color: red;
}


.carroussel{
  background-image: url(../image/test1.PNG);
  background-attachment:fixed;
  background-position: 47% 28%;
  background-size:100em;
  width: 100%;
  height: 340px;
}
.divResume{
  border-radius: 10px;
  color: white;
  width: 60%;
  /*
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;  border : solid;
  */
  font-family: 'Times New Roman', Times, serif;
  font-size: large;


}
.test{
  color:red;
  text-align: center;
}
.a{
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration:none;
  
}

.alogin{
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration:none;
  margin-top: -2vh;
  
  
}

.alogo{
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration:none;
  margin-top: -2vh;
  
  
}
.logoo{
  display: inline;
  float: left;
  border-color: white;
  color: white;
}

.login{
  display: inline;
  float: right;
  border-color: white;
  color: white;
}
.li{
      display: inline;
      border: solid;
      border-color: black;

}
.market{
  background-color: green;
  font-family: garamond;


}


.nav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    height: 80px;
    text-align: center;
    font-size: x-large;
    font-family: garamond;
    font-size: x-large;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.containHome
{
  background-color: rgba(67, 21, 21, 0.124);
  height: 1000px;
}

.div12
{
  background-size: 1300px;
  height: 600px;
  width: 100%;
  border-radius: 15px;
}

.div1{
    
    display:inline-block;
    width: 60%;
    height: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    font-family: garamond;
    font-size: xx-large;
    color: green;
    
}


.div2{
  width: 40%;
  height: 100%;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-image: url(../image/terre.jpg);
  float: right;
  

}

.article{
  display: flex;
  color:silver;
  height: 25%;
}

.p1img{

width: 100%;
height: 100%;
background-size: cover;
background-image: url(../image/carr1.PNG);
}
.p2img{

  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url(../image/web3.jpg);
  }

  .p3img{

    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: url(../image/securite.jpg);
    }
    



.foot{
  display: inline-flexbox;
  position: relative;
  background-color: #000000;
  height: 100px;
  margin-left:50%;
  margin-top: 100%;
}























/*code en bas est par default (d'origine)*/



.container {
  /*  
  padding: 0 2rem;

*/
  background-color: black ;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
  width: 40%;
  height: 100%;
  margin: 5%;
  text-align: center;
  background-size: cover;
  
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}




.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}









































/*STYLES POUR LA PAGE PROJET OPEN SOURCE*/
.principaleos{
  background-color: black;
  height: 200px;
  width: 100%;


}
.principaleList{
  display: inline-block;
  position: relative;
  background-color: whitesmoke(25, 2, 30);
  height: 100%;
  width: 20%;
  border-radius: 1px;
  


}
.principaleArticle{
  position: relative;
  background-color: black;
  height: 100%;
  width: 80%;
  float: right;
}


.ulList{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.lia{  
  display: block;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
  border: solid 1px silver;
  text-align: center;
  

}
.lia:hover{
  background-color: white;
  color: black;
}


/*card pour page projet o/s*/

.cardos {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid black;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
  width: 23%;
  height: 350%;
  margin: -2%;
  text-align: center;
  background-size: cover;
  margin-top: -2%;
  margin-left: 10%;
  
}

.cardos:hover,
.cardos:focus,
.cardos:active {
  color: green;
  border-color: silver;
}

.cardos h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.cardos p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}










































/*CSS  POUR LE FORULAIRE DE PAGE Exchange*/


.FormExchange{
  color: silver;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-left: 33%;
  margin-top: 10%;
  width: 30%;
  text-align: center;
  border: solid white;
  box-shadow: rgba(236, 4, 4, 0.25) 0px 50px 100px -20px, rgba(252, 2, 2, 0.3) 0px 30px 60px -30px, rgba(255, 25, 0, 0.847) 0px -2px 6px 0px inset;
}
.placeul{
  display: inline;
  align-items: center;
  
}

.inputFields2
{
  background-color: silver;
  display:list-item;
  margin-left: 25%;
  width: 50%;
  height: 30px;
  text-align: center;
  color: black;

} 
















/*CSS  POUR LE FORULAIRE DE PAGE SIGNAL*/


.signupForm{
  color: black;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
  border: solid black;
  box-shadow: rgba(0, 255, 8, 0.25) 0px 50px 100px -20px, rgba(0, 235, 8, 0.3) 0px 30px 60px -30px, rgba(7, 163, 31, 0.847) 0px -2px 6px 0px inset;
  width: 100%;
  padding: 50px;


}
.placeul{
  display: inline;
  align-items: center;
  
}

.inputFields
{
  background-color: silver;
  display:list-item;
  margin-left: 25%;
  width: 50%;
  height: 30px;
  text-align: center;
  color: black;
  
} 

/*CSS  POUR LE FORULAIRE DE PAGE ABOUT*/
.carrousselAbout{
  background-image: url(../image/hacker.PNG);
  background-attachment:fixed;
  background-position: 47% 9%;
  background-size:78em;
  
  width: 100%;
  height: 500px;
}

.articleAbout{

}

.cardAbout {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: silver;
  background-color: black;
  text-decoration: none;
  border: 0px solid #eaeaea;
  border-radius: 10px;
  /*transition: color 0.15s ease, border-color 0.15s ease;*/
  width: 90%;
  height: 100%;
  margin: 4%;
  text-align: center;
  background-size: cover;
}

.cardAbout:hover,
.cardAbout:focus,
.cardAbout:active {
  color: white;
  border-color: white;
  height :300px;

}

.cardAbout h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.cardAbout p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}


.infoleft{

  background-color: green;
  display: inline-block;
  width: 20%;
  height: 200px;
  margin-left: -4.8%;
  background-size: 5.5cm 5.5cm;
  background-image: url(../image/me.PNG);
}

.inforight{
  color: white;
  float: right;
  height: 116%;
  width: 80%;
  margin-left: -5%;
}








/*=============================================================*/
/*=============================================================*/
/*=============================================================*/
/*=============================================================*/
/*=============================================================*/
/*=============================================================*/
/*=============================================================*/
/*=============================================================*/
/*=============================================================*/
/*=============================================================*/
/*=============================================================*/
/*=============================================================*/
/*=============================================================*/
/*=============================================================*/

/*style pour fichier de test*/

/*
.divtest
  {
    display: flex;
    color: black;
    text-align: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
    width: 200px;
    height: 200px;
    margin-left: 40%;
    margin-top: 10%;
    background-image: linear-gradient(to right, rgb(144, 7, 25), rgb(255, 255, 255));
  }
*/

.divTotal{
}

.titre{
color: black;
text-align: center;
}

  .divTestLeft{
    display: inline-block;
    background-color: green ;
    width: 50%;
    height: 100%;

  }

  .divTestright{
    background-color: orange ;
    width: 50%;
    float: right;
    height: 100%;
  }












